

.wheel{
    border: 2px solid black;
    border-radius: 50%;
    margin-left: 50px;
    position: absolute;
    width: 55vw;
    height: 55vw;
    max-height: 500px;
    max-width: 500px;
    animation-name: wheel; /*animation-name se usa para vincular la regla @keyframes llamada wheel (esta abajo)*/
  animation-duration: 10s; /*establecer cu치nto tiempo tarda la animaci칩n: en segundos (s) o en milisegundos (ms)*/
  animation-iteration-count: infinite;
  animation-timing-function:linear;
}

/*Animaci칩n @keyfranes y nombre*/
@keyframes wheel { 
    0% {
        transform:rotate(0deg)      ;

    }
100%{
    transform: rotate(360deg);
    
    }

}    

.line{
    background-color: black;
    height: 2px;
    width: 50%;
    top: 50%;
    left: 50%;
    position: absolute;
    transform-origin:0% 0%;
}
.line:nth-of-type(2){
    transform: rotate(60deg);
}
.line:nth-of-type(3){
    transform: rotate(120deg);
}
.line:nth-of-type(4){
    transform: rotate(180deg);
}
.line:nth-of-type(5){
    transform: rotate(240deg);
    
}
.line:nth-of-type(6){
    transform: rotate(300deg);
}

.cabin{
    background-color: red;
  width: 20%;
  height: 20%;
  position: absolute;
  border: 2px solid;
  transform-origin: 50% 0%;
  animation: cabins 10s ease-in-out infinite;
     /*Esto establecer치 las propiedades animation-name, animation-duration, animation-timing-function, y animation-iteration-count en ese orden.*/   
}

@keyframes cabins {
    0% {
      transform: rotate(0deg);
      
    }
    25%{
        background-color: yellowgreen;
    }
    50%{
          background-color: purple;
      }
    75%{
    background-color: yellow;
    }
    100% {
      transform: rotate(-360deg);
    }
  }

.cabin:nth-of-type(1){
    top: 50%;
    right: -8.5%;
}
.cabin:nth-of-type(2){
    right: 17%;
    top: 93.5%;

}
.cabin:nth-of-type(3){
    right: 67%;
    top: 93.5%;

}
.cabin:nth-of-type(4){
    left: -8.5%;
    top: 50%;

}
.cabin:nth-of-type(5){
    left: 17%;
    top: 7%;

}
.cabin:nth-of-type(6){
    right: 17%;
    top: 7%;

}


