*{
    box-sizing: border-box;
    

} 
body{
    background-color: #c9d2fc;
}

.cat-head{
    width: 205px;
    height: 180px;
    border: 1px solid #000 ;
    border-radius: 46%;;
    background: linear-gradient(#5e5e5e 85%, #45454f 100%);
    /*position: static; --> bloque los top, left, right, button
    position: absolute; se utiliza el valor absoluto para la posicion, se determina por las propiedades superior, derecha, inferior e izquierda */
    /*position: relative; */
    /*position: fixed;  notas cambios subiendo y bajando la pantalla
    la propiedad position es sticky: es un híbrido de relative y fixed: mantenga en una posición específica dentro de su elemento contenedor .*/
    /*position: sticky; se posiciona con los top, right, left, botton y si añade texto tambien*/

    position: absolute ;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto; /* Esta es una forma de centrar un elemento vertical y horizontalmente usando posicionamiento CSS.*/
    
    
    
}

/* hacer que cada oreja parezca un triángulo.*/
.cat-left-ear{
    border-right: 35px solid transparent;
    border-left:35px solid transparent ;
    border-bottom: 70px solid #5e5e5e;
    position: absolute;
    top: -26px;
    left: -31px;
    border-top-left-radius: 90px;
    border-top-right-radius: 10px;
    /*La propiedad transform permite  totra grados y modificar la forma, posición y tamaño de un elemento sin cambiar el diseño ni afectar a los elementos circundantes. Dispone de funciones como translate(), rotate(), scale(), skew() y matrix().*/
    transform: rotate(-45deg);
    
    z-index: 1; /*Las orejas deben colocarse siempre por encima de la parte de la cabeza */
}

.cat-right-ear {
    position: absolute;
    top: -26px;
    left: 163px;
    z-index: 1;
    transform: rotate(45deg);
    border-top-left-radius: 90px;
    border-top-right-radius: 10px;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 70px solid #5e5e5e;
}


.cat-left-inner-ear {
    position: absolute;
    top: 22px;
    left: -20px;
    border-top-left-radius: 90px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 40%;
    border-bottom-left-radius: 40%;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 40px solid #3b3b4f;
  }
  
.cat-right-inner-ear {
    position: absolute;
    top: 22px;
    left: -20px;
    border-top-left-radius: 90px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 40%;
    border-bottom-left-radius: 40%;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 40px solid #3b3b4f;
  }

  /* ojos */
.cat-left-eye {
    position: absolute;
    top: 54px;
    left: 39px;
    border-radius: 60%;
    transform: rotate(25deg);
    width: 30px;
    height: 40px;
    background-color: #000;
  }
.cat-right-eye{
    width: 30px;
    height: 40px;
    background-color: #000;
    position: absolute;
    top: 54px;
    left: 134px;
    /*redondear el ojo*/
    border-radius: 60%;
    transform: rotate(-25deg);
    
}
.cat-left-inner-eye{
    width: 10px;
    height: 20px;
    background-color: #fff;
    position: absolute;
    top: 8px;
    left: 2px;
    border-radius: 60%;
    transform: rotate(10deg);
    
}

.cat-right-inner-eye{
    width: 10px;
    height: 20px;
    background-color: #fff;
    position: absolute;
    top: 8px;
    left: 18px;
    border-radius: 60%;
    transform: rotate(-5deg);
    
}
/* NARIZ */
.cat-nose{
    border-right: 15px solid transparent;
    border-left:15px solid transparent ;
    border-bottom: 20px solid #442C2C;
    position: absolute;
    top: 108px;
    left: 85px;
    border-radius: 50%;
    transform: rotate(180deg);
}

/* BOCA */
.cat-mouth div{
    width: 30px;
    height: 50px;
    border: 2px solid #000;
    border-color: black transparent transparent transparent;
    border-radius: 190%/190px 150px 0 0;
    
}

.cat-mouth-line-left{
    position: absolute;
    top: 88px;
    left: 74px;
    transform: rotate(170deg);
}

.cat-mouth-line-right{
    position: absolute;
    top: 88px;
    left: 91px;
    transform: rotate(165deg);
   
}

/* bigote  ---  Utiliza un selector descendiente para apuntar a los tres elementos div dentro de tu elemento .cat-whiskers-left. */
.cat-whiskers-left div{
    width: 40px;
    height: 1px;
    background-color: #000;
}

.cat-whiskers-right div{
    width: 40px;
    height: 1px;
    background-color: #000;
}

/* bigote izq*/
.cat-whisker-left-top{
    position: absolute;
    top: 120px;
    left: 52px;
    transform: rotate(10deg);  
}
.cat-whisker-left-middle{
    position: absolute;
    top: 127px;
    left: 52px;
    transform: rotate(3deg);
}  
.cat-whisker-left-bottom{
    position: absolute;
    top: 134px;
    left: 52px;
    transform: rotate(-3deg);
}

/* bigote drch*/
.cat-whisker-right-top{
    position: absolute;
    top: 120px;
    left: 109px;
    transform: rotate(-10deg);
}   
.cat-whisker-right-middle{
    position: absolute;
    top: 127px;
    left: 109px;
    transform: rotate(-3deg);
   
}
.cat-whisker-right-bottom{
    position: absolute;
    top: 134px;
    left: 109px;
    transform: rotate(3deg);
}